[submodule "Flush/vendor/spdlog"]
	path = Flush/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Flush/vendor/GLFW"]
	path = Flush/vendor/GLFW
	url = https://github.com/SssWen/glfw
[submodule "Flush/vendor/imgui"]
	path = Flush/vendor/imgui
	url = https://github.com/SssWen/imgui
[submodule "Flush/vendor/glm"]
	path = Flush/vendor/glm
	url = https://github.com/g-truc/glm
